@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

h1, h2, h3, h4, h5{
  color: #293c55;
}

p>a, a, code a{
  color: #ab0813;
}

body{
  font-family: 'Raleway', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 5px;
}

pre {
  font-size: 13px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 2px 3px 1px,
    rgba(0, 0, 0, 0.1) 0 1px 3px 1px,
    rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
}

.navbar-default .navbar-nav>.active>a{
  background-color: #B03A5B;
}

.nav-pills>li.active>a{
    background-color: #1e3a54;
}

.navbar-default {
    border-color: #B03A5B;
    background-color: #293c55;
}

.navbar {
    border-width: 0 1px 4px 1px;
}

span.st {
    color: #B03A5B;
}

a code {
  color: #ab0813
}

.pkg-logo{
  display: none;
}

div.pb-2.mt-4.mb-2.border-bottom {
    min-height: 0px;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: max(100%, 25rem);
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

.tabset-pills .tab-content {
  border: 0px;
  padding: 0px;
  padding-top: 1rem;
}

.nav-pills .nav-link.active{
  background-color: #ab0813;
}

li code, p code {
  box-shadow: rgb(0 0 0 / 23%) 0 0px 1px 1px;
}

.navbar.navbar-default .navbar-nav .nav-link {
  color: #f8f9fa;
}
